/* Custom, iPhone Retina */ 
@media only screen and (max-width: 600px)  {
    iframe {
        width: 98% !important;
    }
    ul {
        padding: 1em;
    }
    h1 {
        font-size: 20pt !important;
    }
    .container {
        max-width: 100% !important;
        width: 100% !important;
    }
    .togglerInfo {
        text-align: center;
        margin: 2em auto 0 auto !important;
        display: block;
    }
    .liqBlock, .liqRow {
        width:100% !important;
        padding: 0 !important;
    }
    .fbButton {
         width: 93% !important;
    }
    .callMe {
       padding: 0 !important;
   }
    .nav-item {
       width: 100% !important;
       text-align: center;
    }
    .viza {
    width: 42%  !important;
    text-align: center  !important;
    float: none  !important;
    margin: 0 auto;
    display: block;
   }
   .navbar-text {
       text-align: center !important;
       width: 100%;
   }
   .rc-steps-item-title {
       display: none;
   }
   .footer-buttons button {
    border-radius: 0 !important;
    width: 100% !important;
    }
}
