/* Custom, iPhone Retina */ 
@media only screen and (max-width: 1400px)  {
    .advancedFirst {
        display: none;
    }
    .aboutText {
        max-height: 299px;
        display: block;
        overflow: scroll;
    }
    .footerLogo {
        width: 37% !important;
        text-align: left;
        float: none !important;
        display: block;
        margin: 0 auto;
    }
 }

@media only screen and (max-width: 600px)  {
    iframe {
        width: 98% !important;
    }
    .footerNav {
    margin: 0 auto;
        text-align: center;
        a {
            width: 100% !important;
            display: block !important;
            padding: 0 !important;
            margin-right: 0 100% !important;
        }
        img {
            margin-top:2em;
        }
    
    }
    .ant-card-body {
        padding: 9px;
    }
    .formContainer {
      width: 100%;
      border: none !important;
      padding: 1em;
    }
    ul {
        padding: 1em;
    }
    h1 {
        font-size: 20pt !important;
    }
    .container {
        max-width: 100% !important;
        width: 100% !important;
    }
    .togglerInfo {
        text-align: center;
        margin: 2em auto 0 auto !important;
        display: block;
    }
    .liqBlock, .liqRow {
        width:100% !important;
        padding: 0 !important;
    }
    .fbButton {
         width: 93% !important;
    }
    .callMe {
       padding: 0 !important;
   }
    .nav-item {
       width: 100% !important;
       text-align: center;
    }
    .viza {
    width: 42%  !important;
    text-align: center  !important;
    float: none  !important;
    margin: 0 auto;
    display: block;
   }
   .navbar-text {
       text-align: center !important;
       width: 100%;
   }

   .footer-buttons button {
    border-radius: 0 !important;
    width: 100% !important;
    }

}
